NEXT_PUBLIC_SUPABASE_URL=https://zoadzrmcppjaeefidsvf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_AZcaGVVxUSUh0sLu495Hkw_CCqlDyil
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here
NEXT_PUBLIC_APP_URL=http://localhost:3000
